<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{superhero.name}}</title>
</head>
<body>
<h1>Name:  {{superhero.name}}</h1>
<h2>Alter Ego:  {{superhero.alter_ego}}</h2>
<p>Primary Superpower: {{superhero.primary_superhero_ability}}<br></p>
<p>Secondary Superpower: {{superhero.secondary_superhero_ability}}<br></p>
<p>Catchphrase:  {{superhero.catchphrase}}</p>

<form action="{% url 'superheroes:update_superhero' %}" method="post">
    {% csrf_token %}
   <p>Please Re-enter all the information so that it can be updated.</p>
    ID[DO NOT CHANGE!]:<input type="text" name="id" value={{superhero.id}}><br>
    Name:<input type="text" name="name" id="name"><br>
    Alter Ego:<input type="text" name="alter_ego" id="alter_ego"><br>
    Primary Superpower:<input type="text" name="primary_superpower" id="primary_superpower"><br>
    Secondary Superpower:<input type="text" name="secondary_superpower" id="secondary_superpower"><br>
    Catchphrase:<input type="text" name="catchphrase" id="catchphrase"><br>
    <input type="submit" value="Update Hero">
</form>
<form action="{% url 'superheroes:delete_superhero' %}" method=post>
    {% csrf_token %}
    <input type="submit" value="Delete Superhero">
</form>
</body>
</html>