<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superheroes Index</title>
</head>
<body>
<h1>This is going to be a super website :$</h1>
<ul>
  {% for superhero in all_superheroes %}
    <li>
        <h2>{{superhero.name}}</h2>
    </li>
  {% endfor %}
</ul>

<form action="{% url 'superheroes:create_new_superhero' %}" method="post">
    {% csrf_token %}
    Name:<input type="text" name="name" id="name"><br>
    Alter Ego:<input type="text" name="alter_ego" id="alter_ego"><br>
    Primary Superpower:<input type="text" name="primary_superpower" id="primary_superpower"><br>
    Secondary Superpower:<input type="text" name="secondary_superpower" id="secondary_superpower"><br>
    Catchphrase:<input type="text" name="catchphrase" id="catchphrase"><br>
    <input type="submit" value="Add New Superhero!">
</form>

</body>
</html>